#picture-iceland {
    width: 600px;
    height: 400px;
}
#picture-fox-arctic{
    width: 600px;
    height: 400px;
}
#picture-fox-alaska{
    width: 600px;
    height: 900px;
}
#picture-background-abstract-lines{
    width: 800px;
    height: 400px;
}
#picture-linux-motivator{
    width: 1280px;
    height: 720px;
}